html,* {
	color: #5c5c5c;
	font: normal 12px arial, verdana, sans-serif;
	background: white;
}

#content {
	margin: 10px auto;
	width: 980px;
}

h4 {
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
}

.clear {
	clear: both;
}

.section .aside1 {
	width: 630px;
	float: left;
	margin-right: 15px;
}

.section .aside1 form p {
	clear: both;
}

.section .aside1 form div.title {
	border-bottom: 2px solid #c1c1c1;
	clear: both;
	padding: 0 0 7px;
	margin-bottom: 19px;
}

.section .aside1 form div.title h4 {
	float: left;
	display: block;
}

span.icon_edit {
	display: block;
	width: 16px;
	height: 16px;
	background: url("../images/icon.png") no-repeat 0 -23px;
	float: left;
	margin-left: 15px;
}

span.icon_check {
	display: block;
	width: 16px;
	height: 16px;
	background: url("../images/icon.png") no-repeat 0 -45px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

span.icon_calen {
	display: block;
	width: 20px;
	height: 30px;
	background: url("../images/calen.png") no-repeat;
	float: left;
	margin-top: 10px;
}

span.icon_del {
	background: url("../images/icon.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 20px;
	margin-left: 10px;
	margin-top: -5px;
	width: 19px;
}

.section .aside1 form input:focus {
	-webkit-box-shadow: 0px 0px 2px rgba(244,43,16,1.0) !important;
	box-shadow: 0px 0px 2px rgba(244,43,16,1.0) !important;
}

.section .aside1 form input.ip_txt, .section .aside1 form select.ip_txt  {
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #FFFFFF;
	border: 1px solid #CDCDCD;
	border-radius: 3px 3px 3px 3px;

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset;
	float: left;
	font-style: italic;
	height: 22px;
	margin-bottom: 10px;
	padding: 8px 12px 3px;
	width: 340px;
}

.heigh_fx{
	height: 35px !important;
	margin-left: 10px;
}

.section .aside1 form input.mag_dent {
	margin-right: 10px;
}
.section .aside1 form input.mag_dent2{
	margin-right: 10px;
	width: 322px;
}
.icon_arrow{
	background: url("file://localhost/D:/website/DSS/images/rows.png") 7px 11px no-repeat #FFFFFF;
cursor: pointer;
display: block;
float: left;
height: 31px;
    margin: 3px 0 0 -30px;
width: 28px;
}

.ip_w {
	width: 197px !important;
}
.ip_w2 {
	width: 115px !important;
}

p.btn_act {
	margin-bottom: 35px;
}

p.btn_act input {
	color: white;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	width: 87px;
	height: 32px;
	border: none;
	border-radius: 5px;

	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding;
	background-color: #f42d14;

	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.41);
	box-shadow: inset 0 0 2px rgba(0,0,0,.41);

	background: -webkit-linear-gradient(to bottom, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
	background: -moz-linear-gradient(to bottom, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
	background: -o-linear-gradient(to bottom, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
	background: -ms-linear-gradient(to bottom, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
	background: linear-gradient(to bottom, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
}

p.btn_act input:hover {
	background: -webkit-linear-gradient(to bottom, #E73827 0%, #F02F17 50%, #F6290C 51%, #F16F5C 71%, #F85032 100%);
	background: -moz-linear-gradient(to bottom, #E73827 0%, #F02F17 50%, #F6290C 51%, #F16F5C 71%, #F85032 100%);
	background: -o-linear-gradient(to bottom, #E73827 0%, #F02F17 50%, #F6290C 51%, #F16F5C 71%, #F85032 100%);
	background: -ms-linear-gradient(to bottom, #E73827 0%, #F02F17 50%, #F6290C 51%, #F16F5C 71%, #F85032 100%);
	background: linear-gradient(to bottom, #E73827 0%, #F02F17 50%, #F6290C 51%, #F16F5C 71%, #F85032 100%);
}

.section .aside2 {
	float: right;
	padding: 10px;
	width: 310px;
	height: 212px;
	border: 2px solid #e6e6e6;
	border-radius: 7px;

	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding;
	background-color: #fff;

	-webkit-box-shadow: 0 0 16px rgba(218,218,218,.66);
	box-shadow: 0 0 16px rgba(218,218,218,.66);
}

.btn_ex {
	border-radius: 5px;
	color: white;

	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding;
	background-color: #691515;

	-webkit-box-shadow: inset 0 0 2px rgba(29,29,29,.75);
	box-shadow: inset 0 0 2px rgba(29,29,29,.75);

	background-image: -webkit-linear-gradient(bottom, #696969 0%, #767676 100%);
	background-image: -moz-linear-gradient(bottom, #696969 0%, #767676 100%);
	background-image: -o-linear-gradient(bottom, #696969 0%, #767676 100%);
	background-image: -ms-linear-gradient(bottom, #696969 0%, #767676 100%);
	background-image: linear-gradient(bottom, #696969 0%, #767676 100%);
	-image color: white;
	font-style: italic;
	font-size: 11px;
	text-align: center;
	cursor: pointer;
	float: right;
}

.btn_ex:hover {
	background-image: -webkit-linear-gradient(bottom, #767676 0%, #696969 100%);
	background-image: -moz-linear-gradient(bottom, #767676 0%, #696969 100%);
	background-image: -o-linear-gradient(bottom, #767676 0%, #696969 100%);
	background-image: -ms-linear-gradient(bottom, #767676 0%, #696969 100%);
	background-image: linear-gradient(bottom, #767676 0%, #696969 100%);
}
.w_th{
	width: 110px !important;
}

.tit_sche {
	text-transform: uppercase;
	float: left;
}

.block_1 {
	clear: both;
	display: block;
	margin-bottom: 39px;
	margin-top: 3px;
}

.dent_block {
	margin-bottom: 20px !important;
}

ul.ul_sche {
	list-style: none;
}

ul.ul_sche li {
	border-bottom: 1px solid #DEDEDE;
	clear: both;
	margin: 7px 0;
	padding: 3px 0;
}

ul.ul_sche li a,ul.ul_sche li a span {
	font-size: 12px;
	color: #3c3c3c;
	text-decoration: none;
	font-style: italic;
}

ul.ul_sche li a:hover,ul.ul_sche li a span:hover {
	color: #da1d05;
}

.float_lt {
	float: left;
}

.float_rig {
	float: right;
}

.indent {
	margin-right: 80px;
}
