html,* {
	color: #5c5c5c;
	font: normal 12px arial, verdana, sans-serif;
	background: white;
}

#content {
	margin: 10px auto;
	width: 462px;
}


.section .aside1 {
	width: 100%;
}

.section .aside1 form p {
	clear: both;
}
.section .aside1 form input:focus {
	-webkit-box-shadow: 0px 0px 2px rgba(244,43,16,1.0) !important;
	box-shadow: 0px 0px 2px rgba(244,43,16,1.0) !important;
}

.section .aside1 form input.ip_txt, .section .aside1 form select.ip_txt  {
	background-color: #FFFFFF;
	border: 1px solid #CDCDCD;
	border-radius: 3px 3px 3px 3px;

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset;
	float: left;
	font-style: italic;
	height: 22px;
	margin-bottom: 10px;
	padding: 8px 12px 3px;
	width: 340px;
}
input.ip_txt2{
	border: 1px solid #CDCDCD;
	margin-bottom: 10px;
	padding: 2px;
	width: 360px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset;
}

.lable{
	width:70px;
	margin-right:15px;
}
.lable label{
	font:bold 16px/33px Arial, Helvetica, sans-serif;
}
.content_inner{
	width:94.7%;
	border:1px solid #CDCDCD;
	clear:both;
	padding:1%;
	margin:0 0 10px 0;
}
