html,* {
	color: #5c5c5c;
	font: normal 12px arial, verdana, sans-serif;
	background: white;
}

#content {
	margin: 10px auto;
	width: 980px;
}

h4 {
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
}

.clear {
	clear: both;
}

.section .aside1 {
	width: 630px;
	float: left;
	margin-right: 15px;
}

.section .aside1 form p {
	clear: both;
}

.section .aside1 form div.title {
	border-bottom: 2px solid #c1c1c1;
	clear: both;
	padding: 0 0 7px;
	margin-bottom: 19px;
}

.section .aside1 form div.title h4 {
	float: left;
	display: block;
}

span.icon_edit {
	display: block;
	width: 16px;
	height: 16px;
	background: url("../images/icon.png") no-repeat 0 -23px;
	float: left;
	margin-left: 15px;
}

span.icon_check {
	display: block;
	width: 16px;
	height: 16px;
	background: url("../images/icon.png") no-repeat 0 -45px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

span.icon_calen {
	display: block;
	width: 20px;
	height: 30px;
	background: url("../images/calen.png") no-repeat;
	float: left;
	margin-top: 10px;
}

span.icon_del {
	background: url("../images/icon.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 24px;
	margin-left: 10px;
	margin-top: -5px;
	width: 27px;
	animation: all .2s linear;
}
span.icon_del:hover{
	background-position: 0 -25px;
}

.section .aside1 form input:focus {
	-webkit-box-shadow: 0px 0px 2px rgba(244,43,16,1.0) !important;
	box-shadow: 0px 0px 2px rgba(244,43,16,1.0) !important;
}

.upload {
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #FFFFFF;
	border: 1px solid #CDCDCD;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75) inset;
	float: left;
	font-style: italic;
	height: 32px;
	margin-bottom: 10px;
	/*padding: 8px 12px 3px;*/
	width: 85%;

	overflow: hidden;
}
.upload input[type="file"]{
	display: block !important;
	width: 85%;
	height: 32px;
	opacity: 0 !important;
	overflow: hidden !important;
}

.heigh_fx{
	height: 35px !important;
	margin-left: 10px;
}

.section .aside1 form input.mag_dent {
	margin-right: 10px;
}
.section .aside1 form input.mag_dent2{
	margin-right: 10px;
	width: 322px;
}
.icon_arrow{
	background: url("file://localhost/D:/website/DSS/images/rows.png") 7px 11px no-repeat #FFFFFF;
cursor: pointer;
display: block;
float: left;
height: 31px;
    margin: 3px 0 0 -30px;
width: 28px;
}

.ip_w {
	width: 197px !important;
}
.ip_w2 {
	width: 115px !important;
}

p.btn_act {
	margin-bottom: 35px;
}
.message{
	clear: both;
	text-align: center;
	font-size: 14px;
	margin: 10px 0;
}
.success{
	color: green;
}
input[type="submit"]{
	color: white;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	width: 14%;
	height: 34px;
	border: none;
	border-radius: 5px;
	float: right;

	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding;
	background-color: #f42d14;

	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.41);
	box-shadow: inset 0 0 2px rgba(0,0,0,.41);

	background: -webkit-linear-gradient(to bottom, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
	background: -moz-linear-gradient(to bottom, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
	background: -o-linear-gradient(to bottom, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
	background: -ms-linear-gradient(to bottom, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
	background: linear-gradient(to bottom, #F85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #E73827 100%);
}

input[type="submit"]:hover {
	background: -webkit-linear-gradient(to bottom, #E73827 0%, #F02F17 50%, #F6290C 51%, #F16F5C 71%, #F85032 100%);
	background: -moz-linear-gradient(to bottom, #E73827 0%, #F02F17 50%, #F6290C 51%, #F16F5C 71%, #F85032 100%);
	background: -o-linear-gradient(to bottom, #E73827 0%, #F02F17 50%, #F6290C 51%, #F16F5C 71%, #F85032 100%);
	background: -ms-linear-gradient(to bottom, #E73827 0%, #F02F17 50%, #F6290C 51%, #F16F5C 71%, #F85032 100%);
	background: linear-gradient(to bottom, #E73827 0%, #F02F17 50%, #F6290C 51%, #F16F5C 71%, #F85032 100%);
}

.section .aside2 {
	float: right;
	padding: 10px;
	width: 310px;
	height: 212px;
	border: 2px solid #e6e6e6;
	border-radius: 7px;

	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding;
	background-color: #fff;

	-webkit-box-shadow: 0 0 16px rgba(218,218,218,.66);
	box-shadow: 0 0 16px rgba(218,218,218,.66);
}

.btn_ex {
	border-radius: 5px;
	color: white;

	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding;
	background-color: #691515;

	-webkit-box-shadow: inset 0 0 2px rgba(29,29,29,.75);
	box-shadow: inset 0 0 2px rgba(29,29,29,.75);

	background-image: -webkit-linear-gradient(bottom, #696969 0%, #767676 100%);
	background-image: -moz-linear-gradient(bottom, #696969 0%, #767676 100%);
	background-image: -o-linear-gradient(bottom, #696969 0%, #767676 100%);
	background-image: -ms-linear-gradient(bottom, #696969 0%, #767676 100%);
	background-image: linear-gradient(bottom, #696969 0%, #767676 100%);
	-image color: white;
	font-style: italic;
	font-size: 11px;
	text-align: center;
	cursor: pointer;
	float: right;
}

.btn_ex:hover {
	background-image: -webkit-linear-gradient(bottom, #767676 0%, #696969 100%);
	background-image: -moz-linear-gradient(bottom, #767676 0%, #696969 100%);
	background-image: -o-linear-gradient(bottom, #767676 0%, #696969 100%);
	background-image: -ms-linear-gradient(bottom, #767676 0%, #696969 100%);
	background-image: linear-gradient(bottom, #767676 0%, #696969 100%);
}
.w_th{
	width: 110px !important;
}

.tit_sche {
	text-transform: uppercase;
	float: left;
}

.block_1 {
	clear: both;
	display: block;
	margin-bottom: 39px;
	margin-top: 3px;
}
.block:after, .block:before{
	clear: both;
	display: block;
	content: '';
}
.dent_block {
	margin-bottom: 20px !important;
}

ul.ul_sche {
	list-style: none;
}

ul.ul_sche li {
	border-bottom: 1px solid #DEDEDE;
	clear: both;
	margin: 7px 0;
	height: 22px;
	padding: 3px 0;
}
ul.ul_sche li:last-child{
	border-bottom-width: 0px;
}

ul.ul_sche li a,ul.ul_sche li a span {
	font-size: 13px;
	color: #3c3c3c;
	text-decoration: none;
}

ul.ul_sche li a:hover,ul.ul_sche li a span:hover {
	color: #3B73AF;
}

.float_lt {
	float: left;
}

.float_rig {
	float: right;
}

.indent {
	margin-right: 80px;
}
.clear{
	clear: both;
}
#header{
	background-color: #000;
	height: 28px;
	position: fixed;
	top: 0px;
	width: 100%;
}
#header ul{
	float: left;
}
#header ul:last-child{
	float: right;
}
#header ul li{
	list-style: none;
	float: left;
}
#header ul li a{
	display: block;
	padding: 7px 13px;
	color: #AEAEAE;
	text-decoration: none;
	border-right: 1px solid #4D4D4D;
}
#header ul li a:hover, #header ul li a.active{
	color: white;
}
.content{
	width: 100%;
	margin: 12% auto 0;
}
.content .logo{
	text-align: center;
	margin-bottom: 15px;
}
.content .logo.title{
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 20px;
}
#footer{
	width: 100%;
	position: fixed;
	bottom: 10px;
}
#footer p{
	text-align: center;
	color: #949494;
}
.shadow_block{
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    padding: 10px 20px 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.divice_pages{
	display: table;
    margin: 15px auto;
    text-align: center;
    vertical-align: middle;
    width: auto;
}
.divice_pages a{
	text-transform:uppercase;
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#7a7a7a;
	text-decoration:none;
	border:1px solid #cbcbcb;
	padding: 4px 13px;
	display:block;
	float:left;
	margin-right:4px;
	border-radius: 10px;
}
.divice_pages a:hover, .divice_pages a.acti{
	border-color: #3b73af;
	background-color: #3b73af;
	color: white;
}









































